html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(207, 243, 231);
}
.App {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: 15% 85%/15% 85%;
  grid-template-areas:
    "header header"
    "main main";
}
.App-header {
  grid-area: header;
}
.App-main-area {
  grid-area: main;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;

}
.menu-button {
  width: 2.5em;
  height:2em;
  margin: 3em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  animation-name: rotation;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
     transform: rotate(360deg);
  }
}
.menu-button * {
  width: 100%;
  height: 20%;
  background-color: turquoise;

}
.modal-button {
  font-family: inherit;
  background: black;
  color:#fff;
  font-weight: bold;
  border-radius: 3px;
  padding: .4em .6em;
  text-transform: uppercase;
  cursor: pointer;
}
.modal {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: rgba(54, 53, 53, 0.548);
  display: grid;
  place-items: center;
}
.inner-modal {
  background: white;
  width: 90vw;
  height: 30vh;
  max-width: 620px;
  display: grid;
  justify-items: end;
  align-items: start;
}
.close-button{
  background: unset;
  border: none;
  color: rgb(214, 0, 0);
  font-size: 1.4rem;
  margin: 1em;
}
.side-menu {
  left: -110%;
  top: 0;
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: white;
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 900px) {
  .side-menu {
    width: 30vw;
  }
}
.sidemenu-header{
  display:flex;
  justify-content: space-around;
}

.sidemenu-footer{
  font-size: 1.5rem;
  text-align: center;
  margin-top: auto;
  padding:1em;
}
.sidemenu-footer *{
  color: rgb(35, 224, 161);
  margin:0 .3em;
}